*{
  margin:0;
  padding:0;
}
.background{
  height:100vh;
  width:100vw;
  background-image: url('svg_filter_candidate.jpg');
  background-size: cover;
}

 .background .filter{
  height:100%;
  width:100%;
  background-size: cover;
  background-image: url('svg_filter_mask.png');
  filter:url("#turbulence");
}